@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz@10..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --color-primary: #031116;
    --color-secondary: #22D4FD;
    --color-tertiary: #f6f6f6;
    --color-quaternary: #000000;

    --font-primary: 'Big Shoulders Inline', sans-serif;
    --font-secondary: 'Orbitron', sans-serif;

}

* about.html {
    font-size: 2.25rem;
    font-family: var(--font-secondary);
}


body {
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
}

body::before {
    background-image: url("/assets/image.png");
    background-repeat: inherit;
    background-position: unset;
    content: "";
    display: block;
    position:absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    pointer-events: none;   
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}


.cabecalho__menu {
    display: flex;
    gap: 205px;
}

.cabecalho__menu__link {
    font-size: 1.5rem;
    font-family: var(--font-primary);
    font-weight: 600;
    color: var(--color-secondary);
    text-decoration: none;
}
  
.apresentacao {
    padding: 5% 15% 5% 15%;
    display: flex;
    align-items: center;
    gap: 150px;
}

.apresentacao__conteudo {
    width: 615px;
    display: inline;
    flex-direction: column;
    gap: 40px;
    z-index: 1;
}

.cabecalho__menu__link__subtitulo {
    font-size: 1.5rem;
    font-family: var(--font-primary);
    font-weight: 600;
    color: var(--color-secondary);
    text-align: center;
    text-decoration: none;
}

.apresentacao__conteudo__titulo {
    font-size: 1.0rem;
    font-family: var(--font-primary);
    color: var(--color-tertiary);
}


.apresentacao__links {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__conteudo__texto {
    font-size: 1.8rem;
    font-family: var(--font-primary);
    align-items: center;
    text-align: justify;
    color: var(--color-tertiary);
}
 
.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    gap: 16px;
    width: 378px;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 21.5px 0;
    transition: background-color 0.3s ease;
}
.apresentacao__links__link:hover {
transform: scale(1.5);
}

.apresentacao__links__subtitulo {
    font-size: 1.5rem;
    font-family: var(--font-primary);
    font-weight: 400;
}

.apresentacao__imagem-dev {
    display: block;
    width: 35%;
    border: 1px solid var(--color-secondary);
    border-radius: 2%;
    z-index: 10;
}
.apresentacao__imagem-dev:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--color-secondary);
}          
    

.rodape {
    color: var(--color-quaternary);
    padding: 24px;
    background-color: var(--color-secondary);
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 1.25rem;
    font-weight: 400;
}

.hidden {
    visibility: hidden; /* Torna o texto invisível, mas mantém o espaço */
    opacity: 0; /* Torna o texto invisível */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Transição suave */
}
    #dev-name {
    transition: color 0.1s ease;

    
}

#dev-name:hover {
    transform: scale(1.1);
   
}

@media (max-width: 1024px) {
    .apresentacao {
        flex-direction: column-reverse;
    }
}