@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz@10..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz@10..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


* {
    margin: 0;
    padding: 0;

}

body {
    box-sizing: border-box;
    background-color: #031116;
    /* raisin black */
    color: #F6F6F6;
    /* vivid sky blue */
}

body::before {
    background-image: url("./assets/image.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: center;
    position:fixed;
    width: 100%;
    height: 100%;
    opacity: 0.1;

}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0 0 10%;
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link {
    font-size: 24px;
    font-family: "Big Shoulders Inline", sans-serif;
    font-weight: 600;
    color: #22D4FD;

}

.apresentacao {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Orbitron", sans-serif;
    color: #22D4FD;

}


.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: "Big Shoulders Inline", sans-serif;

}

.titulo__destaque {
    color: #22D4FD;
}

.container__imagem-dev {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.cabecalho__menu__link {
    
    font-size: 24px;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    color: #F6F6F6;
    text-decoration: none;
    padding: 16px;
    text-decoration:none;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-size: 24px;
    font-family: "Big Shoulders Inline", sans-serif;
    font-weight: 400;
}


.apresentacao__links__link {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: "Orbitron", sans-serif;
}

.apresentacao__links__link:hover {
    background-color: #F6F6F6;

}

.rodape {
    color: #000000;
    padding: 24px;
    display: flex;
    background-color: #22D4FD;
    font-family: "big-shoulders-inline", sans-serif;
    font-size: 24px;
    font-weight: 400;
}